{% extends "base.html" %}
{% load django_markdown %}

{% block head_title %}{{ block.super }}{% endblock head_title %}

{% block content %}
{% for post in content %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="thumbnail">
            {% if post.image %}
            <img src="{{ post.image.url }}" class="img-responsive" style="max-height:
            400px"/>
            {% endif %}
            <div class="post-content">
                <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>

                <p><strong>{{ post.created|date|upper }}: </strong>
                    {{ post.content|markdown|truncatechars:300 }}</p>
                <a type="button" class="btn btn-primary" href="{{ post.get_absolute_url }}">View</a>
                {% if post.tags.exists %}
                    <strong>Tags:</strong> {{ post.tags.all|join:", " }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if content.has_previous %}
            <a href="?page={{ content.previous_page_number }}">< Previous Page</a>
        {% endif %}

        <span class="current">
            Page {{ content.number }} of {{ content.paginator.num_pages }}
        </span>

        {% if content.has_next %}
            <a href="?page={{ content.next_page_number }}">Next Page ></a>
        {% endif %}
    </span>
</div>
{% endblock %}
